DASHBOARD_DIRECTORY=admin/
HOME_MODULE=dashboard/
CACHE_DIRECTORY=cache/
APP_NAME=BlueFission Opus
APP_KEY=
LOGO_IMG=assets/media/logos/logo.png
FAVICON=assets/media/logos/favicon.ico
DEBUG_MODE=true
CONTACT_EMAIL=
SENDGRID_API_KEY=
FORCE_HTTPS=false
MYSQL_DB_HOST=localhost
MYSQL_DB_USERNAME=root
MYSQL_DB_PASSWORD=
MYSQL_DB_NAME=demo
MYSQL_DB_PORT=3306
CDN_USER=
CDN_KEY=
CDN_FILE_ROOT=https://path.to-cdn.bucket
CDN_FILEMANAGER_CONTAINER_NAME=
DEVELOPMENT_MODE=true
OPEN_AI_API_KEY=
HUGGING_FACE_API_KEY=
PINECODE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX=